* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
header {
  text-align: center;
  padding: 80px 20px;
}

.hero img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #38bdf8;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero h2 {
  color: #38bdf8;
  margin: 10px 0;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  margin: 10px;
  text-decoration: none;
  border-radius: 6px;
}

.btn.outline {
  background: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* SECTION */
section {
  padding: 60px 20px;
  text-align: center;
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills div {
  background: #1e293b;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
}

/* PROJECTS */
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  width: 250px;
}

.links a {
  display: inline-block;
  margin: 10px;
  color: #38bdf8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}
